<div class="big-card-container">
  <div class="big-card-photo">
    <img 
      src="https://miro.medium.com/v2/resize:fit:1400/1*6RpaOv0Kf9WDBRjWV-e83Q.png"
      alt="Angular 17 news"
      width="450px">
  </div>
  
  <div class="big-card-title">
    <h1><a href="#">News recentes versão do angular</a></h1>
  </div>

  <div class="big-card-description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Architecto iure itaque doloremque nihil labore in rerum optio odit omnis enim? 
        Non doloremque eius qui error harum repudiandae voluptate repellat laborum.
        Debitis ipsum, est reprehenderit nobis vel unde beatae eveniet ex delectus 
        corporis architecto iusto repellendus adipisci fuga ipsa veritatis culpa 
        inventore harum, voluptatibus rem nemo repudiandae vitae. Blanditiis, 
        rerum ipsam.
      </a>
    </p>
  </div>
</div>