.menu-title-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu-title > h1 {
  font-size: 200px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.menu-title > hr {
  margin: 20px 0 0 0;
}