@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu-title-container > h1 {
    font-size: 150px;
  }
  
}

/* .menu-title-container {
  color: #FFFFFF;1111
}

.menu-title-container > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.menu-title-container > hr {
  margin-top: 20px;
  margin-bottom: 5px;
} */