<app-menu-title></app-menu-title>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:832/1*RJVWZP3jspLtlLYUIFMMJQ.png"
      cardTitle="As novidades do Angular 17"
      cardDescription="O Angular é um dos frameworks mais populares para o desenvolvimento de aplicações web modernas e ricas em recursos. 
      Desde o seu lançamento em 2010, o Angular vem evoluindo constantemente para acompanhar as tendências e as necessidades dos desenvolvedores."
      linkUrl="https://medium.com/@filipepaulinorosa/as-novidades-do-angular-17-f2516ffc241c"
      contentPage="clique para mais conteúdos"
      ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1358/1*jqB3-7nuIn_EYyeyN8Op9A.jpeg"
      cardTitle="Padrões e Boas Práticas em Angular (Que te ajudarão a escalar)"
      linkUrl="https://andrewrosario.medium.com/padr%C3%B5es-e-boas-pr%C3%A1ticas-em-angular-que-te-ajudar%C3%A3o-a-escalar-5001e544e7de"
    ></app-small-card>
    
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:4800/format:webp/0*NfQX3ImRbz6FdH4h"
      cardTitle="A equipe do Angular chamou esta versão de 'Renascença do framework'."
      linkUrl="https://andrewrosario.medium.com/confira-as-grandes-novidades-do-angular-17-43a812beaa2d"
    ></app-small-card>
    
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*oTR3a2YrOsZkQ4mV97-xhw.jpeg"
      cardTitle="3 formas de criar validações condicionais com Angular Reactive Forms"
      linkUrl="https://andrewrosario.medium.com/3-formas-de-criar-valida%C3%A7%C3%B5es-condicionais-com-angular-reactive-forms-84c9759bd736"
    ></app-small-card>
  </div>
</div>